<div class="conteudo bg-white">
    <div class="jumptron-seguranca">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-7">
                    <h1 class="sg-title">Você está em um site seguro!</h1>
                    <p class="sg-text">Saiba alguns pontos que é preciso identificar e se atentar na hora de comprar online, nós adquirimos todos os procedimentos para manter a sua experiencia de compra a melhor possível.</p>
                </div>
                <div class="col-12 col-xl-5 d-flex flex-column align-items-center justify-content-center">
                    <img src="../../../assets/img/sg-0.svg" alt="" width="350px" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column align-items-center justify-content-center">
                <img src="../../../assets/img/sg-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-xl-6">
                <h1 class="sg-title">Certificado SSL</h1>
                <p class="sg-p">Secure Socket Layer (SSL) é um padrão global em tecnologia de segurança. O Certificado SSL cria um caminho seguro entre o servidor e o navegador (Browser) para garantir que todos os dados transmitidos sejam seguros e sigilosos.</p>
            </div>
        </div>
        <div class="row flex-row flex-xl-row-reverse">
            <div class="col-12 col-xl-6 d-xl-flex flex-column align-items-center justify-content-center">
                <img src="../../../assets/img/sg-2.png" alt="" width="350px" class="img-fluid">
            </div>
            <div class="col-12 col-xl-6">
                <h1 class="sg-title">Como funciona o SSL?</h1>
                <p class="sg-p">O SSL (Secure Sockets Layer) usa um sistema de criptografia que utiliza duas chaves para criptografar os dados, uma chave pública conhecida por todos e uma chave privada conhecida apenas pelo destinatário. O SSL é a única e eficaz maneira de obter segurança de dados em comércio eletrônico. Quando um SSL – Certificado Digital está instalado no website, um icone de um cadeado aparece no navegador e o endereço começa com https:// em vez de http:// informando que os dados serão criptografados.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6 d-flex flex-column align-items-center justify-content-center">
                <img src="../../../assets/img/sg-3.png" alt="" width="350px" class="img-fluid">
            </div>
            <div class="col-12 col-xl-6">
                <h1 class="sg-title">O que a Smart Club Digital faz com meus dados?</h1>
                <p class="sg-p">A Smart Club Digital criou uma politica de privacidade baseada no respeito que tem com seus cliente. Toda informação digitada no site como cadastro é de uso exclusivo da SmartClubDigital, não alugamos ou vendemos nenhum dado cadastral. Seu cadastro é uma maneira de lhe conhecermos, para melhor atender.</p>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <h1 class="sg-title mx-auto text-center">Ainda tem dúvidas?</h1>
    <div class="container mb-5">
        <div class="accordion" id="faq-sg">
            <button class="card-sg btn btn-link" type="button" data-toggle="collapse" data-target="#grupo1" aria-expanded="true" aria-controls="collapseOne">
                Por que a Smart Club Digital utiliza certificado SSL?
            </button>
            <div id="grupo1" class="collapse" aria-labelledby="headingOne" data-parent="#faq-sg">
                <div class="card-body">
                    Com a utilização do Certificado SSL demonstramos aos nossos clientes uma maior segurança das informações, apresentando grande confiabilidade e garantindo que os dados importantes de nossos clientes trafeguem sigilosamente entre o Browser e o servidor.
                </div>
            </div>
        </div>
        <button class="card-sg btn btn-link" type="button" data-toggle="collapse" data-target="#grupo2" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #2
        </button>
        <div id="grupo2" class="collapse" aria-labelledby="headingOne" data-parent="#faq-sg">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>