<div class="conteudo">
   <div class="container">
      <div class="row">
         <app-menu-user [paginaAtual]="'minha-conta'" class="col-xl-3 col-lg-3"></app-menu-user>
         <div class="col-12 col-xl-8 pr-1 pl-1 pr-xl-4 pl-xl-4 mb-5">
            <div class="mc-wrapper px-2">
               <div class="mc-box-wrapper">
                  <div class="mc-title">
                     <h3>Minha Conta</h3>
                  </div>
                  <div class="mc-body">
                     <div class="mc-box-form">
                        <div class="buttons-editar mb-3 text-right">
                           <!-- <a  class="btn btn-secondary" data-ripple="" style="margin-right: 10px;color: #ffffff; cursor: pointer;"></a> -->
                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alterarSenha" data-whatever="@mdo">Alterar senha</button>
                        </div>
                        <form id="cadastro-form" novalidate="novalidate" [formGroup]="formDados" (ngSubmit)="saveMinhaConta()">
                           <div id="dados-padrao" class="d-flex flex-column">
                              <mat-form-field appearance="outline">
                                 <mat-label>Nome completo</mat-label>
                                 <input matInput type="text" placeholder="Ex.: João Pedro" formControlName="nomecompleto" required>
                                 <!-- <mat-error >{{getErroEmail()}}</mat-error> -->
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                 <mat-label>E-mail</mat-label>
                                 <input matInput type="email" autocomplete="email" placeholder="Ex.: joaodasilva@gmail.com" formControlName="email" required>
                                 <!-- <mat-error >{{getErroEmail()}}</mat-error> -->
                              </mat-form-field>
                              <mat-form-field appearance="outline" >
                                 <mat-label>Data de nascimento</mat-label>
                                 <input matInput  type="text" placeholder="Ex.: 01/01/1999"  autocomplete="bday" formControlName="nascimento" [dropSpecialCharacters]="false" mask="00/00/0000" required>
                                 <!-- <mat-error *ngIf="listForm.get('nascimento').invalid">{{getErro('nascimento')}}</mat-error> -->
                           </mat-form-field>
                           <mat-form-field appearance="outline" >
                                 <mat-label>CPF/CNPJ</mat-label>
                                 <input matInput type="tel" formControlName="cpfcnpj" required>
                                 <!-- <mat-error *ngIf="listForm.get('cpfcnpj').invalid">{{getErroCpfCnpj()}}</mat-error> -->
                              </mat-form-field>
                              <!-- <mat-form-field appearance="outline">
                                 <mat-label>Celular</mat-label>
                                 <input matInput  type="text"  formControlName="cellphone" required >
                              
                           </mat-form-field>
                           <mat-form-field appearance="outline">
                              <mat-label>Telefone</mat-label>
                              <input matInput  type="text"  formControlName="phone" required >
                              <mat-error *ngIf="listForm.get('razao_social').invalid">{{getErro('razao_social')}}</mat-error>
                              </mat-form-field> -->
                              <mat-checkbox class="mb-2" formControlName="ofertas">Desejo receber ofertas por e-mail</mat-checkbox>
                           </div>
                           <div class="form-group text-right m-0">
                              <button type="submit" class="btn btn-secondary ecommerce-color" data-ripple="">Alterar cadastro</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="alterarSenha" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="alterarSenha">Alterar Senha</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form [formGroup]="formAlterarSenha" (ngSubmit)="saveSenha()">
            <div class="modal-body">
               <div class="d-flex flex-column">
                  <mat-form-field appearance="outline" >
                     <mat-label>Senha atual</mat-label>
                     <input matInput type="password" autocomplete="new-password" placeholder="Digite sua senha atual" formControlName="atualsenha" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" >
                     <mat-label>Nova Senha</mat-label>
                     <input matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password" placeholder="Digite sua nova senha" formControlName="novasenha" required>
                     <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
                  </mat-form-field>
                  <mat-form-field appearance="outline" >
                     <mat-label>Confirmar Senha</mat-label>
                     <input matInput type="password" autocomplete="new-password" placeholder="Confirme sua nova senha" formControlName="confirmsenha" required>
                  </mat-form-field>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
               <button type="submit" class="btn btn-primary">Alterar senha</button>
            </div>
         </form>
      </div>
      </div>
   </div>
</div>