<app-banner-header [inputHeader]="getHeader()"></app-banner-header>
<div class="overlay"  (click)="overlayClick()" (mouseenter)="overlayOver()" (mouseleave)="overlayOut()"></div>
<app-banner-header></app-banner-header>
<nav class="navbar navbar-expand-lg navbar-dark nav-color">
    <div class="container">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row align-items-center w-100">
                <div class="nav-options">
                    <div class="nav-opt d-sm-block d-xl-none" id="crt-categorias" (click)="openCatMobile()">
                        <button class="opt" >
                            <i class="tabs"></i>
                        </button>
                    </div>
                </div>
                <a class="navbar-brand" [routerLink]="['/']">
                    <img class="logo-full"  src="{{this.config.getLogo()}}" height="37px">
                </a>
                <button class="btn-menu d-none d-xl-flex" *ngIf="checkFixedTop()"  [class.active]="checkMenuShow()" (click)="showMenu($event.currentTarget)">
                    <div class="menu-hamburguer">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div> Menu
                </button>
                <div class="nav-wrapper">
                    <form class="nav-search" >
                          <input class="form-control search-bar" id="search-topo" name="s" autocomplete="off" type="text" placeholder="O que você deseja procurar?" aria-label="Pesquisa" #pesquisa
                          (keyup)="keyPesquisaSite(pesquisa.value);" (focus)="focarSearchBox($event.currentTarget)">
                          <button type="submit" aria-label="Pesquisa" aria-label="Pesquisa" class="btn search-button" (click)="BotaoPesquisaSite(pesquisa.value);"><i class="pui-search-300"></i></button>
                            <button type="button" class="btn remove-search" *ngIf="keyUpSearch"><span class="material-icons" (click)="clearSearch('#search-topo')">close</span></button>
                          <div class="box-search">
                            <div class="search-wrapper">

                               <div class="buscas-wrapper" *ngIf="!resultadoBuscaSite && buscasRealizadas.length > 0 && !keyUpSearch">

                                   <div class="buscas">
                                       <ul *ngIf="buscasRealizadas.length > 0" class="buscasRealizadas">
                                        <h4 class="h4-pesquisa">Você buscou:</h4>
                                           <li *ngFor="let busca of buscasRealizadas | slice:0:5; let i = index;">
                                               <a [routerLink]="getLinkArray('/busca', busca)">
                                                   {{busca}}
                                               </a>
                                               <button class="btn-deletar" (click)="removeItemBusca(i)"><i class="fas fa-times"></i></button>
                                           </li>
                                       </ul>
                                       <div *ngIf="buscasRealizadas.length <= 0">
                                           <h5>Oque você procura?</h5>
                                       </div>
                                   </div>
                                   
                               </div>

                               <div class="buscas-wrapper" *ngIf="keyUpSearch">

                                <div *ngIf="!resultadoBuscaSite" class="p-4">
                                    <div class="spinner-round" >
                                        <svg class="spinner" width="50px" height="50px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
                                    </div>
                                </div>

                                <div class="search-wrap" *ngIf="resultadoBuscaSite">
                                    <div class="search-relacionados">
                                        <h5>Você quis dizer:</h5>
                                        <ul class="autocomplete-list">
                                            <li *ngFor="let r of resultadoBuscaSite.suggestions" class="autocomplete-item"><a [routerLink]="getLinkArray('/produto',r.link)">{{r.nome}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="search-recomendados">
                                        <h5>Produtos sugeridos:</h5>
                                        <ul class="product-search-list">
                                            <li *ngFor="let p of resultadoBuscaSite.products; let i = index;" class="product-search">
                                                <a [routerLink]="getLinkArray('/produto',p.link)">
                                                <img src="{{p.images[0].images}}" >
                                                <span class="as-title">{{p.nome}}</span>
                                                <span class="as-info">Ofertas à partir de:</span>
                                                <span class="as-price">{{p.preco | currency:'BRL':true}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               </div>
                             

                            </div>
                         </div>
                         
                    </form>
                </div>
                <div class="nav-options">
                   
                    <div class="nav-opt d-sm-block d-xl-none" id="crt-search" (click)="openSeachMobile()">
                        <button class="opt" >
                            <i class="pui-search-100"></i>
                        </button>
                    </div>
                    <div class="nav-opt" id="user-act" tabindex="1">
                        <button  class="opt" id="user-show" (click)="clickUser()" (mouseenter)="overUser()" (mouseleave)="overUserOut()"><i class="pui-user-100"></i></button>
                        <div class="box-user" (swiperight)="closeUser()">
                            <div class="box-header">
                                <h4 *ngIf="!customer">Olá, <b>Faça o login!</b> :)</h4>
                                <h4 *ngIf="customer">Olá, <b>{{customer.cusFantasyName}}</b> :)</h4>
                                <button class="btn btn-back" (click)="closeUser()">
                                    <i class="pui-arrow-right-300"></i>
                                </button>
                            </div>
                            <div class="box-body" *ngIf="!customer">
                                <a matRipple class="btn btn-primary btn-block" [routerLink]="['/user','login']">Entre</a>
                                <p class="text-secondary my-3 text-center d-block">Não possui conta? <a  class="text-primary" routerLink="/user/cadastro">Cadastre-se!</a></p>
                                <button matRipple class="btn facebook btn-block" (click)="login('facebook')">
                                    Entre com o <b>Facebook</b>
                                </button>
                                <button matRipple class="btn google btn-block" (click)="login('google')">
                                    Entre com o <b>Google</b>
                                </button>
                                <ul class="user-actions-list" style="margin-top: 5px;">
                                    <li class="usc-item">
                                        <a routerLink="/user/minha-conta">
                                            <i class="pui-user-300"></i>
                                            Minha conta
                                        </a>
                                    </li>
                                    <li class="usc-item">
                                        <a routerLink="/user/meus-pedidos">
                                            <i class="pui-bagtwo-300"></i>
                                            Meus pedidos
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                           
                            <div class="box-body" *ngIf="customer">
                                <ul class="user-actions-list">
                                    <li class="usc-item">
                                        <a routerLink="/user/minha-conta">
                                            <i class="pui-user-300"></i>
                                            Minha conta
                                        </a>
                                    </li>
                                    <li class="usc-item">
                                        <a routerLink="/user/meus-pedidos">
                                            <i class="pui-bagtwo-300"></i>
                                            Meus pedidos
                                        </a>
                                    </li>
                                    <li class="usc-item">  
                                        <button href="#" (click)="logout()">
                                            <i class="pui-exit-300"></i>
                                            Sair
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <span class="divisor mt-1"></span>
                            <div class="box-body pt-0">
                                <a matRipple [routerLink]="['/user','favoritos']" class="btn favorito">
                                    Meus favoritos
                                    <span class="fav-total">{{ this.contaFavoritos }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-opt" id="crt-carrinho">
                        <button class="opt" id="crt-show" (click)="openCart()" (mouseenter)="showCartHover()" (mouseleave)="cartOut()" (click)="carrinhoCompra();">
                            <i class="pui-bagtwo-100"></i>
                            <span class="total-carrinho">{{qtdProdutos}}</span>
                        </button>

                        <div class="crt-carrinho" (swiperight)="closeCarrinho()">
                            <div class="crt-header">
                                <h4>Meu carrinho</h4>
                                <button class="btn btn-back" (click)="closeCarrinho()">
                                    <i class="pui-arrow-right-300"></i>
                                </button>
                            </div>

                            <div class="placeholder-carrinho" *ngIf="loadCarrinho">
                                <div class="ph-item">
                                    <div class="ph-col-4">
                                        <div class="ph-picture"></div>
                                    </div>
                                    <div>
                                        <div class="ph-row">
                                            <div class="ph-col-6"></div>
                                            <div class="ph-col-6 empty"></div>
                                            <div class="ph-col-2"></div>
                                            <div class="ph-col-8 empty"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ph-item">
                                    <div class="ph-col-4">
                                        <div class="ph-picture"></div>
                                    </div>
                                    <div>
                                        <div class="ph-row">
                                            <div class="ph-col-6"></div>
                                            <div class="ph-col-6 empty"></div>
                                            <div class="ph-col-2"></div>
                                            <div class="ph-col-8 empty"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crt-footer-placeholder">
                                    <div class="ph-item">
                                        <div class="ph-col-12">
                                            <div class="ph-row">
                                                <div class="ph-col-6"></div>
                                                <div class="ph-col-6 empty"></div>
                                                <div class="ph-col-2"></div>
                                                <div class="ph-col-6 empty"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="crt-body" *ngIf="produtos.length <= 0 && !loadCarrinho" (swiperight)="closeCarrinho()">
                                <div class="crt-vazio">
                                    <span>:(</span>
                                    <h4>Seu carrinho está vazio!</h4>
                                    <p>Comece a comprar para inserir produtos aqui!</p>
                                </div>
                            </div>

                            <div class="crt-body" *ngIf="!loadCarrinho && produtos.length > 0" (swiperight)="closeCarrinho()">
                                <ul class="crt-produtos" (swiperight)="closeCarrinho()">
                                    <li class="crt-item" *ngFor="let produtos of produtos; let i = index;" >
                                        <span class="crt-delete" (click)="deleteProduto(produtos)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        <a  [routerLink]="['/produto',produtos.id,produtos.link]" class="crt-produto">
                                            <picture class="crt-image">
                                                <img src="{{produtos.imagem}}" alt="">
                                            </picture>
                                            <div class="crt-infos">
                                                
                                                <p class="crt-title">{{produtos.descricao}}</p>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small class="crt-qtd">Quantidade: {{produtos.quantidade}}</small>
                                                    <span class="crt-price" *ngIf="produtos.total > 0">{{produtos.total | currency:'BRL':true}}</span>
                                                    <span class="crt-price" *ngIf="produtos.total < 0">Falha ao buscar Preço!</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="crt-footer" *ngIf="!loadCarrinho && produtos.length > 0">
                                <div class="d-flex flex-row align-items-center justify-content-end mb-2">
                                    <p class="crt-total">Total (valor total sem frete):</p>
                                    <span class="crt-total-price">{{totalCompra | currency:'BRL':true}}</span> 
                                </div>
                                <div class="d-flex flex-row align-items-center flex-wrap flex-xl-nowrap justify-content-end">
                                    <a matRipple [routerLink]="['/compras','carrinho-compra']" class="btn btn-success btn-block m-xl-0">Ver meu carrinho</a>
                                </div>
                                <div class="crt-footer-txt">
                                    Atendimento de segunda à sexta das 8h às 18h.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-cat">
                <div class="nav-links" id="nav">
                    <nav class="h-menu">
                        <div class="categorias-wrapper">
                            <div class="c-sidebar">
                                <button class="btn-categoria" (click)="showCats($event.currentTarget)" (mouseenter)="overCats($event.currentTarget)" (mouseleave)="outCats()" >
                                    <div class="hamburger hamburger--spring">
                                        <div class="hamburger-box">
                                          <div class="hamburger-inner"></div>
                                        </div>
                                      </div> Categorias
                                </button>
                                <div class="box-categorias">
                                    <div class="ctg-box">

                                        <div class="ctg-search-wrapper">
                                            <input type="text" class="ctg-search" id="ctgSearch" name="ctgSearch" placeholder="Pesquise por categorias" (keyup)="searchCat($event.currentTarget.value)">
                                            <span class="ctg-seach-icon material-icons">
                                                search
                                            </span>
                                            <button class="ctg-clear" (click)="ctgClearSearch('#ctgSearch')" *ngIf="filter != ''">
                                                <span class="material-icons">
                                                    clear
                                                </span>
                                            </button>
                                        </div>

                                     
                                        <span class="d-block pt-3 px-3" style="font-size: 14px;" *ngIf="empytResult">Nada encontrado!</span>
                                       
        
                                        <div class="box-header">
                                             <h1>Categorias</h1>
                                             <button class="btn btn-back">
                                                <i class="pui-arrow-left-300"></i>
                                             </button>
                                        </div>


                                       <ul class="categoria-list" [attr.search]="filter != ''">
                                        <li class="ctg-item" *ngFor="let menu of this.config.getMenuCategoria();let i = index;" (mouseenter)="abrirSubMenu(i)" >
                                            <a  [routerLink]="getLinkArray('/categorias', menu.link)" class="ctg-link" id="{{i}}" (click)="this.hideCats()">{{menu.nome}}</a>
                                            <div class="category-sub" id="{{i}}" >
                                                <div class="ctg-sub-wrapper">
                                                    <h1 class="ctg-title"><a [routerLink]="getLinkArray('/categorias', menu.link)" >{{menu.nome}}</a></h1>
                                                    <div class="ctg-a">
                                                            <ul class="category-links">
                                                                <li class="sub-item" *ngFor="let submenu of menu.submenu; let y = index;">
                                                                    <a [routerLink]="getLinkArray('/categorias',submenu.link)" (click)="this.hideCats()">{{submenu.nome}}</a>
                                                                </li>
                                                            </ul>
                                                    </div>
                                                </div>
                                                <a [routerLink]="getLinkArray('/categorias', menu.link)" class="img-category" (click)="this.hideCats()">
                                                    <img src="{{menu.image}}">
                                                </a>
                                            </div>
                                        </li>

                                        <li class="sub-links" *ngFor="let menu of this.config.getMenuCategoria();let i = index;">
                                            <a class="ctg-link" (click)="this.hideCats()" *ngFor="let submenu of menu.submenu; let y = index;" [routerLink]="getLinkArray('/categorias',submenu.link)">{{submenu.nome}}</a>
                                        </li>
                                    </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <ul class="nav-menu">
                        <li class="nav-item" *ngFor="let menu of this.config.getMenuPrincipal(); let i = index;" (mouseover)="abrirMenuNav(i)" (mouseout)="fecharMenuNav()"  id="menu-{{i}}">
                                <a [routerLink]="getLinkArray('/categorias', menu.link)" (mouseenter)="closeMenuHover()">{{menu.nome}}</a>
                                <ul class="nav-categoria" id="{{i}}">
                                    <li class="nav-categoria-item">
                                        <div class="ctg-nav-wrapper">
                                            <div class="ctg-nav-infos">
                                                <h1 class="ctg-nav-title">{{menu.nome}}</h1>
                                                <ul class="ctg-nav-list">
                                                    <li class="ctg-nav-item" *ngFor="let submenu of menu.submenu; let y = index;" >
                                                        <a [routerLink]="getLinkArray('/categorias', submenu.link)" >{{submenu.nome}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a  [routerLink]="getLinkArray('/categorias', menu.link)" class="ctg-img-link">
                                                <div class="ctg-nav-image" [ngStyle]="{'background-image': 'url('+ menu.image +')'}"></div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                        </li>
                    </ul>
                    <div class="daily-offers">
                        <a href="/" class="daily-button" (mouseenter)="showDaily($event.currentTarget)" (mouseleave)="hideDaily()">
                            <span class="material-icons">
                                local_offer
                            </span> Ofertas do Dia
                        </a>
                        <div class="daily-box">
                            <a href="#">
                                <img src="https://www.tabaratotolevando.com.br/comprar/produtos/ofertadodia/bl5856136452.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="mobile-categoria" (swipeleft)="closeCatMobile()">
        <div class="box-header">
            <h1>Categorias</h1>
            <button class="btn btn-back"  (click)="closeCatMobile()">
                <i class="pui-arrow-left-300"></i>
            </button>
        </div>
        <div class="box-body" >
            <ul class="ctm-list" (swipeleft)="closeCatMobile()">
                <li class="ctm-item"  *ngFor="let menu of this.config.getMenuCategoria();let i = index;">
                    <button class="ctm-ctg" type="button"  (click)="abrirSubBox(i)">{{menu.nome}}</button>

                    <div class="ctm-sub-box" id="{{i}}" (swipeleft)="fecharSubBox(i)">
                        <div class="box-header">
                            <h1 class="ctm-link"><a [routerLink]="getLinkArray('/categorias',menu.link)" (click)="removeOverflowClick()">{{menu.nome}}</a></h1>
                            <button class="btn btn-back" id="fecharSub-{{i}}" (click)="fecharSubBox(i)">
                                <i class="pui-arrow-left-300"></i>
                            </button>
                        </div>
                        <div class="box-body" >
                            <ul class="ctm-sub-list" (swipeleft)="fecharSubBox(i)">
                                <li class="ctm-item" *ngFor="let submenu of menu.submenu; let y = index;">
                                    <a  [routerLink]="getLinkArray('/categorias',submenu.link)" class="ctm-ctg" (click)="removeOverflowClick()">{{submenu.nome}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<button type="button" class="back-to-top" (click)="goToTop()" title="Voltar para o topo da página">
    <div class="icon"></div>
</button>

<!-- <nav class="navbar navbar-header navbar-expand-lg navbar-dark" tabindex="1">
        <div class="container" style="margin-top:15px;">
           <a class="navbar-brand" routerLink="/">
            <picture>
                <img class="logo-full" src="{{logo}}" height="37px">
            </picture>
           </a>
           <form class="web-search">
              <div class="search-input">
                 <input class="form-control search-topo" id="search-topo" name="s" autocomplete="off" type="search" placeholder="O que você deseja procurar?" aria-label="Pesquisa" #pesquisa
                 (keyup)="keyPesquisaSite(pesquisa.value);">
                 <button type="submit" aria-label="Pesquisa" aria-label="Pesquisa" class="btn pesquisa" (click)="BotaoPesquisaSite(pesquisa.value);"><i class="search-icon"></i></button>
              </div>
              <div class="box-search">
                 <div class="search-wrapper">
                    <div *ngIf="!resultadoBuscaSite"  style="width: 100%;">
                        <div class="buscas" >
                            <span id="voce-buscou">Você buscou:</span>
                            <ul *ngIf="buscasRealizadas.length > 0">
                                <li *ngFor="let busca of buscasRealizadas;let i = index;" class="buscasRealizadas" (click)="buscaProduto(busca)">
                                    <span><i class="fa fa-clock"></i>&nbsp;{{busca}}</span>   
                                    <button style="float: right;" (click)="removeItemBusca(i)"><i class="fa fa-times" aria-hidden="true"></i></button>                                 
                                </li>
                            </ul>
                            <div *ngIf="buscasRealizadas.length <= 0">
                                <h5>Oque você procura?</h5>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resultadoBuscaSite">
                        <div class="search-relacionados">
                            <h5>Você quis dizer:</h5>
                            <ul class="autocomplete-list">
                                <li *ngFor="let r of resultadoBuscaSite.suggestions" class="autocomplete-item"><a [routerLink]="getLinkArray('/categorias',r.link)">{{r.nome}}</a></li>
                            </ul>
                        </div>
                        <div class="search-recomendados">
                            <h5>Produtos sugeridos:</h5>
                            <ul class="product-search-list">
                                <li *ngFor="let p of resultadoBuscaSite.products; let i = index;" class="product-search">
                                    <a [routerLink]="getLinkArray('/produto',p.link)">
                                    <img src="{{p.images[0].images}}" >
                                    <span class="as-title">{{p.nome}}</span>
                                    <span class="as-info">Ofertas à partir de:</span>
                                    <span class="as-price">{{p.preco | currency:'BRL':true}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                 </div>
              </div>
           </form>
           <ul class="navbar-nav">
              <li id="user-hover" class="nav-item">
                 <div id="nav-user" class="d-block d-xl-block d-lg-block d-sm-none d-md-block">
                    <a>
                       <svg id="user-icon" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.73 38.73">
                          <defs>
                             <style>.cls-1 {stroke-linecap:round;stroke-miterlimit:10;}</style>
                          </defs>
                          <title>usuario-icone</title>
                          <path id="Caminho_21" data-name="Caminho 21" class="cls-1" d="M38.23,19.36A18.87,18.87,0,1,1,19.36.5h0A18.78,18.78,0,0,1,38.23,19.19Z"/>
                          <path id="Caminho_22" data-name="Caminho 22" class="cls-1" d="M5.43,31.55a16.49,16.49,0,0,1,27.87,0"/>
                          <circle id="Elipse_3" data-name="Elipse 3" class="cls-1" cx="19.37" cy="13.21" r="6.55"/>
                       </svg>
                       <span *ngIf="!customer">Entrar</span>
                       <span *ngIf="customer">{{customer.cusFantasyName}}</span>
                       <svg id="icon-arrow-user" viewBox="0 0 36 64">
                           <polygon points="0 4 28 32 0 60 4 64 36 32 4 0"></polygon>
                       </svg>
                    </a>
                 </div>
                 <div class="box-module user-tooltip " tabindex="1" *ngIf="!customer">
                        <a [routerLink]="['/user','login']" data-ripple class="btn btn-normal">Entrar</a>
                        <span class="signinDivisor"></span>
                        <a href="#" class="facebook-login" (click)="login('facebook')">
                            <i class="fab fa-facebook-square"></i><span class="facebook-text">Entrar com Facebook</span>
                        </a>
                        <a href="#" class="btn google-login" (click)="login('google')">
                            <img class="icone-google" src="../assets/img/icone-google.svg" height="20px" width="20px"/><span class="google-text">Entrar com Google</span>
                        </a>
                        <span class="tema cadastro-span">É novo aqui? <a routerLink="/user/cadastro">Cadastre-se</a></span>
                        <ul class="usr-items">
                            <li><a [routerLink]="['/user','minha-conta']" class="conta">Minha conta</a></li>
                            <li><a [routerLink]="['/user','meus-pedidos']">Meus pedidos</a></li>
                        </ul>
                    </div>
        
                    <div class="box-module user-tooltip " tabindex="1" *ngIf="customer">
                        <li><a [routerLink]="['/user','minha-conta']" class="conta">Minha conta</a></li>
                        <li><a [routerLink]="['/user','meus-pedidos']">Meus pedidos</a></li>
                        <li><a href="#" (click)="logout()">Sair</a></li>
                    </div>
              </li>
              <li class="nav-item">
                 <a id="nav-favoritos" [routerLink]="['/user','favoritos']" title="Meus favoritos">
                    <svg class="Caminho_18" xmlns="http://www.w3.org/2000/svg" width="39.586" height="34.966" viewBox="0 0 39.586 34.966">
                       <path id="nav-favoritos" data-name="Caminho 18" d="M1630.509,511.463h0a10.759,10.759,0,0,0-14.863,0l-.851.823-.851-.823a10.759,10.759,0,0,0-14.864,0h0a9.943,9.943,0,0,0,0,14.386l15.714,15.209,5.743-5.559h0l9.971-9.65A9.943,9.943,0,0,0,1630.509,511.463Z" transform="translate(-1595.002 -507.483)" fill="none" stroke="#fff" stroke-width="2"/>
                    </svg>
                    <span>{{favoritos_count}}</span>
                    
                 </a>
              </li>
              <li class="nav-item">
                 <div id="carrinho" (click)="carrinhoCompra();">
                    <a>
                       <svg id="carrinho-icone"  xmlns="http://www.w3.org/2000/svg" width="42.527" height="32.294" viewBox="0 0 42.527 32.294">
                          <g transform="translate(-1149.875 -391.717)">
                             <path id="Caminho_19" data-name="Caminho 19" d="M1172.875,534.242h5.432a.953.953,0,0,1,.913.679l6.316,21.009a.779.779,0,0,0,.746.555h21.475a.779.779,0,0,0,.752-.577l4.894-18.253" transform="translate(-22 -141.525)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                             <circle id="Elipse_2" data-name="Elipse 2" cx="2.684" cy="2.684" r="2.684" transform="translate(1166.613 418.644)" fill="#fff"/>
                             <path id="Caminho_20" data-name="Caminho 20" d="M2.684,0A2.684,2.684,0,1,1,0,2.684,2.684,2.684,0,0,1,2.684,0Z" transform="translate(1179.03 418.644)" fill="#fff"/>
                          </g>
                       </svg>
                    </a>
                    <span id="myspan" class="carrinho-acount">{{qtdProdutos}}</span>
                 </div>
              </li>
           </ul>
        </div>
     </nav>
<nav class="navbar-categoria navbar navbar-expand-lg navbar-dark" tabindex="1" >
    <div class="container">
        <button id="cat-todas" aria-expanded="false" aria-label="Todas as categorias">
            Todas as categorias
            <svg id="icon-arrow" viewBox="0 0 36 64">
            <polygon points="0 4 28 32 0 60 4 64 36 32 4 0"></polygon>
            </svg>
        </button>
        <div id="sidebar" class="menu-topo">
            <div class="box-mobile">
            <button class="hamburger hamburger--squeeze" aria-label="Menu" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded='false'>
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
            </button>
            </div>
            <div class="side-topo">
                <div id="nav-user" class="nav-user-mobile d-block d-xl-none d-lg-none d-sm-block d-md-block">
                    <a>
                        <svg id="user-icon" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.73 38.73">
                            <defs>
                            <style>
                                .cls-1 {
                                stroke-linecap: round;
                                stroke-miterlimit: 10;
                                }
                            </style>
                            </defs>
                            <title>usuario-icone</title>
                            <path id="Caminho_21" data-name="Caminho 21" class="cls-1" d="M38.23,19.36A18.87,18.87,0,1,1,19.36.5h0A18.78,18.78,0,0,1,38.23,19.19Z" />
                            <path id="Caminho_22" data-name="Caminho 22" class="cls-1" d="M5.43,31.55a16.49,16.49,0,0,1,27.87,0" />
                            <circle id="Elipse_3" data-name="Elipse 3" class="cls-1" cx="19.37" cy="13.21" r="6.55" />
                        </svg>
                        <span *ngIf="!customer">Entrar</span>
                        <span *ngIf="customer">{{customer.cusFantasyName}}</span>
                        <svg id="icon-arrow-user" class="mobile-arrow" viewBox="0 0 36 64">
                            <polygon points="0 4 28 32 0 60 4 64 36 32 4 0"></polygon>
                        </svg>
                    </a>
                </div>
               
                <div class="module-mobile" tabindex="1">
                </div>
                <div class="categoria-todas">
                    <h5>Todas as categorias</h5>
                </div>
            </div>
            <div class="side-body">
            <div class="side-menu">
                
                <li *ngFor="let c of menuCategoria;let i = index;" (mouseenter)="abrirSubMenu(i);">
                    {{c.nome}}
                    <ul class="side-sub sub-anim" id="{{i}}">
                        <li>
                            <h1>{{c.nome}}</h1>
                            <button type="back" class="btn voltar-mobile">Voltar</button>

                            <a *ngFor="let s of c.submenu;" [routerLink]="getLinkArray('/categorias',s.link)" >
                                {{s.nome}}
                            </a>
                        </li>
                        <div>
                            <a href="#">
                                <img class="img-size" src="{{c.image}}">
                            </a>
                        </div>
                    </ul>
                </li>
            </div>
            </div>
        </div>
        <ul class="navbar-nav" *ngIf="menuTopo">
            <li class="nav-item dropdown" *ngFor="let menu of menuTopo; let i = index;">
                <a class="nav-link dropdown-toggle" data-ripple href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{menu.nome}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-div">
                        <ul>
                            <li *ngFor="let submenu of menu.submenu; let y = index;" >
                                <a  class="dropdown-item" routerLink="/categorias/{{submenu.link}}" data-id="{{submenu.idCategoria}}">{{submenu.nome}}</a>
                            </li>
                        </ul>
                        <a routerLink="/categorias/{{menu.link}}">
                            <img src="{{menu.image}}" alt="{{menu.nome}}">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="box-carrinho">
    <div class="carrinho-title">
       <div class="ch-title">
          <svg id="ch-carrinho" xmlns="http://www.w3.org/2000/svg" width="42.527" height="32.294" viewBox="0 0 42.527 32.294">
             <g transform="translate(-1149.875 -391.717)">
                <path id="Caminho_19" data-name="Caminho 19" d="M1172.875,534.242h5.432a.953.953,0,0,1,.913.679l6.316,21.009a.779.779,0,0,0,.746.555h21.475a.779.779,0,0,0,.752-.577l4.894-18.253" transform="translate(-22 -141.525)" fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></path>
                <circle id="Elipse_2" data-name="Elipse 2" cx="2.684" cy="2.684" r="2.684" transform="translate(1166.613 418.644)"></circle>
                <path id="Caminho_20" data-name="Caminho 20" d="M2.684,0A2.684,2.684,0,1,1,0,2.684,2.684,2.684,0,0,1,2.684,0Z" transform="translate(1179.03 418.644)"></path>
             </g>
          </svg>
          <h5>Meu carrinho</h5>
       </div>
       <div class="box-carrinho-fechar">
          <button class="btn carrinho-fechar" aria-label="Carrinho fechar" aria-label="Menu" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
            x
          </button>
       </div>
    </div>

    <div class="carrinho-vazio" *ngIf="produtos.length <= 0">
       <img src="../assets/img/carrinho-vazio.gif" width="auto" height="auto" title="Carrinho vazio!">
       <h3>Seu carrinho está vázio</h3>
       <span class="cr-vazio">Bora dar uma olhadinha?</span>
    </div>
     
    <ul class="carrinho-lista carrinho-item-lista">
        <li *ngFor="let produtos of produtos; let i = index;" class="crt-it" data-ripple="">
            <div class="carrinho-lateral">
                <div class="loader" id="carrinhoLoading-{{i}}"></div>                
                <a [routerLink]="['/produto',produtos.id,produtos.link]" id="listaCarrinho-{{i}}" style="display: none;">
                    <img class="carrinho-img" src="{{produtos.imagem}}" height="40px" width="40px">
                    <span class="carrinho-nome">{{produtos.descricao}}</span>
                    <span class="carrinho-quant">Quantidade: {{produtos.quantidade}}</span>
                    <span class="carrinho-gy" *ngIf="produtos.gradey?.length > 0">{{produtos.gradey[0].titulo}}:{{produtos.gradey[0].descricao}}</span>
                    <span class="carrinho-gx" *ngIf="produtos.gradex?.length > 0">Cor:{{produtos.gradex[0].descricao}}</span>
                    <span class="carrinho-preco" *ngIf="produtos.total > 0">{{produtos.total | currency:'BRL':true}}</span>
                    <span class="carrinho-preco" *ngIf="produtos.total <= 0">Falha ao buscar Preço.</span>
                </a>
            </div>
        </li>
    </ul>
    <div class="carrinho-bottom">
       <span class="carrinho-total">Total (valor sem frete): <strong>{{totalCompra | currency:'BRL':true}}</strong></span>
       <div class="carrinho-f">
          <a class="carrinho-ver" routerLink="/compras/carrinho-compra">Ver meu carrinho</a>
          <a class="btn-carrinho" routerLink="/compras/carrinho-compra">Fechar pedido</a>
       </div>
    </div>
 </div> -->
