<div class="info-loja">
    <div class="container">
      <ul class="info-loja-ul">
          <li>
              <div class="info-img"><img src="../../../assets/img/logo-uol.png" title="Segurança garantida com PagSeguro"></div>
              <div class="info-item">
                  <span class="info-titulo">Segurança</span>
                  <span class="info-descricao">PagSeguro</span>
              </div>
          </li>
  
        <li>
            <div class="info-img"><i class="fas fa-truck" title="Para todo Brasil!"></i></div>
            <div class="info-item">
                <span class="info-titulo">Frete</span>
                <span class="info-descricao">Para todo Brasil</span>
            </div>
        </li>
  
        <li>
            <div class="info-img"><i class="fas fa-percentage" title="Desconto em até 5% no boleto à vista"></i></div>
            <div class="info-item">
                <span class="info-titulo">Desconto</span>
                <span class="info-descricao">De até <b>5%</b> à vista no boleto</span>
            </div>
        </li>
  
        <li>
            <div class="info-img"><i class="fas fa-credit-card" title="Parcelamento em até 10x sem juros"></i></div>
            <div class="info-item">
                <span class="info-titulo">Parcelamento</span>
                <span class="info-descricao">Em até <b>10x</b> sem juros</span>
            </div>
        </li>
  
      </ul>
    </div>
  </div>