<div class="conteudo">
    <div class="container">
       <div class="error-div">
          <div class="erro-wrapper">
             <div class="row m-0">
                <div class="col-12 col-xl-4 d-flex justify-content-center">
                   <img src="../../../assets/img/fantasminha-camarada.gif" height="100%" width="auto">
                </div>
                <div class="col-12 col-xl-8 error-text">
                   <span class="error-span">Não encontramos nenhum resultado para <b>"{{inputPesquisa}}"</b> em nosso servidores.</span>
                   <span class="mt-3">O que eu faço agora?</span>
                   <ul class="error-ul">
                      <li>Verifique os termos digitados ou os filtros selecionados.</li>
                      <li>Utilize termos genéricos na busca.</li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <!-- <h1 class="linha-titulo">
          Confira também
       </h1>
       <div class="owl-carousel owl-theme produto-carousel">
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="/produto.php">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="#">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="#">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="#">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="#">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
          <div class="item-box" data-ripple="rgba(128, 128, 128, 0.726)">
             <button type="button" aria-label="Favoritar produto" data-ripple class="btn btn-fav"></button>
             <a href="#">
                <div class="produto-img">
                   <img src="./img/295-180px.jpg" max-width="180px">
                </div>
                <div class="descricao-produto">
                   <span class="titulo-produto">Smartphone Xiaomi Redmi Note 7 Dual Sim 4gb Ram 64GB Versão Global</span>
                   <div class="avaliacao-produto">
                      <i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-2"><span class="uip-estrela-2 path1"></span><span class="uip-estrela-2 path2"></span></i>
                   </div>
                   <span class="preco-de">de <i class="outline-de">R$ 1.089,95</i> por</span>
                   <span class="preco-produto">R$ 999,00</span>
                   <span class="parcelamento">6x de <b>R$ 99,00</b> sem juros</span>
                </div>
             </a>
          </div>
       </div> -->
    </div>
 </div>