@font-face {
  font-family: 'Layout-Precode';
  src:  url('../fonts/Layout-Precode.eot?xemumr');
  src:  url('../fonts/Layout-Precode.eot?xemumr#iefix') format('embedded-opentype'),
    url('../fonts/Layout-Precode.ttf?xemumr') format('truetype'),
    url('../fonts/Layout-Precode.woff?xemumr') format('woff'),
    url('../fonts/Layout-Precode.svg?xemumr#Layout-Precode') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pui-"], [class*=" pui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Layout-Precode' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pui-star-solid:before {
  content: "\e936";
}
.pui-arrow-left-100:before {
  content: "\e900";
}
.pui-arrow-left-300:before {
  content: "\e901";
}
.pui-arrow-left-500:before {
  content: "\e902";
}
.pui-arrow-right-100:before {
  content: "\e903";
}
.pui-arrow-right-300:before {
  content: "\e904";
}
.pui-arrow-right-500:before {
  content: "\e905";
}
.pui-bag-100:before {
  content: "\e906";
}
.pui-bag-300:before {
  content: "\e907";
}
.pui-bag-500:before {
  content: "\e908";
}
.pui-bag-solid:before {
  content: "\e909";
}
.pui-bagtwo-100:before {
  content: "\e90a";
}
.pui-bagtwo-300:before {
  content: "\e90b";
}
.pui-bagtwo-500:before {
  content: "\e90c";
}
.pui-bagtwo-solid:before {
  content: "\e90d";
}
.pui-barcode-100:before {
  content: "\e90e";
}
.pui-barcode-300:before {
  content: "\e90f";
}
.pui-barcode-500:before {
  content: "\e910";
}
.pui-card-100:before {
  content: "\e937";
}
.pui-card-300:before {
  content: "\e911";
}
.pui-card-500:before {
  content: "\e912";
}
.pui-card-solid:before {
  content: "\e913";
}
.pui-clock-100:before {
  content: "\e914";
}
.pui-clock-300:before {
  content: "\e915";
}
.pui-clock-500:before {
  content: "\e916";
}
.pui-exit-100:before {
  content: "\e917";
}
.pui-exit-300:before {
  content: "\e918";
}
.pui-exit-500:before {
  content: "\e919";
}
.pui-eye-100:before {
  content: "\e91a";
}
.pui-eye-300:before {
  content: "\e91b";
}
.pui-eye-500:before {
  content: "\e91c";
}
.pui-eyeno-100:before {
  content: "\e91d";
}
.pui-eyeno-300:before {
  content: "\e91e";
}
.pui-eyeno-500:before {
  content: "\e91f";
}
.pui-heart-100:before {
  content: "\e920";
}
.pui-heart-300:before {
  content: "\e921";
}
.pui-heart-500:before {
  content: "\e938";
}
.pui-heart-solid:before {
  content: "\e922";
}
.pui-help-100:before {
  content: "\e923";
}
.pui-help-300 .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.pui-help-300 .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.pui-help-300 .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pui-help-300 .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.pui-help-500:before {
  content: "\e928";
}
.pui-search-100:before {
  content: "\e929";
}
.pui-search-300:before {
  content: "\e92a";
}
.pui-search-500:before {
  content: "\e92b";
}
.pui-share-100:before {
  content: "\e92c";
}
.pui-share-300:before {
  content: "\e92d";
}
.pui-share-500:before {
  content: "\e92e";
}
.pui-truck-100:before {
  content: "\e92f";
}
.pui-truck-300:before {
  content: "\e930";
}
.pui-truck-500:before {
  content: "\e931";
}
.pui-user-100:before {
  content: "\e932";
}
.pui-user-300:before {
  content: "\e933";
}
.pui-user-500:before {
  content: "\e934";
}
.pui-user-solid:before {
  content: "\e935";
}
