<div class="conteudo" *ngIf="paginaCarregada">
   <div id="produto-item" class="pt-3">
      <div id="lista-produto">
         <div class="container">
            <div class="row m-0">
               <div class="col-12 col-xl-2 p-0 p-xl-2">
                  <div class="ph-item p-0 m-0">
                     <div class="ph-col-12">
                        <div class="ph-picture"></div>
                      </div>
                  </div>
               </div>
               <div class="col-12 col-xl-10 p-0 p-xl-2">
                  <div class="ph-item p-0 m-0">
                     <div class="ph-col-12">
                        <div class="ph-row">
                           <div class="ph-col-10 big"></div>
                           <div class="ph-col-2 empty big"></div>
                           <div class="ph-col-4"></div>
                           <div class="ph-col-6 empty"></div>
                           <div class="ph-col-6"></div>
                           <div class="ph-col-8"></div>
                        </div>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="list-produto-wrapper">
         <ul class="list-produtos-lojista">
            <li class="list-produto-item row">
               <div class="col-12 col-xl-3 list-imgs pr-xl-0 mb-2">
                  <div class="ph-item p-0 w-100 m-0">
                     <div class="ph-col-12">
                        <div class="ph-picture"></div>
                      </div>
                  </div>
               </div>
               <div class="col-12 col-xl-7 list-precos row m-0 p-0">
                  <div class="list-preco col-12 col-xl-4 mb-2">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-12 big"></div>
                              <div class="ph-col-8"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="list-parcelamento col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
                  <div class="list-frete col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-4"></div>
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="list-button-wrapper col-12 col-xl-2 mt-2">
               </div>
            </li>
            <li class="list-produto-item row">
               <div class="col-12 col-xl-3 list-imgs pr-xl-0 mb-2">
                  <div class="ph-item p-0 w-100 m-0">
                     <div class="ph-col-12">
                        <div class="ph-picture"></div>
                      </div>
                  </div>
               </div>
               <div class="col-12 col-xl-7 list-precos row m-0 p-0">
                  <div class="list-preco col-12 col-xl-4 mb-2">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-12 big"></div>
                              <div class="ph-col-8"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="list-parcelamento col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
                  <div class="list-frete col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-4"></div>
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="list-button-wrapper col-12 col-xl-2 mt-2">
               </div>
            </li>
            <li class="list-produto-item row">
               <div class="col-12 col-xl-3 list-imgs pr-xl-0 mb-2">
                  <div class="ph-item p-0 w-100 m-0">
                     <div class="ph-col-12">
                        <div class="ph-picture"></div>
                      </div>
                  </div>
               </div>
               <div class="col-12 col-xl-7 list-precos row m-0 p-0">
                  <div class="list-preco col-12 col-xl-4 mb-2">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-12 big"></div>
                              <div class="ph-col-8"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="list-parcelamento col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
                  <div class="list-frete col-6 col-xl-4">
                     <div class="ph-item p-0 w-100 m-0">
                        <div class="ph-col-12">
                           <div class="ph-row">
                              <div class="ph-col-4"></div>
                              <div class="ph-col-6"></div>
                              <div class="ph-col-8"></div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="list-button-wrapper col-12 col-xl-2 mt-2">
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>

<div class="conteudo" *ngIf="!paginaCarregada">
<div id="produto-item" class="produto-lista">
        <div class="container">
           <div class="nav-args">
              <div class="nvgs-items">
                 <a  alt="Página principal">
                    <i class="uip-home"></i>
                </a>
              </div>
              <!-- <div *ngIf="breadcrumb" style="display: inline-block;"> -->
                  <div class="nvgs-items" *ngIf="breadcrumb.categoria"><a [routerLink]="getLinkArray('/categorias',link_categoria)">{{breadcrumb.categoria}}</a></div>
                  <div class="nvgs-items" *ngIf="breadcrumb.subcategoria"><a [routerLink]="getLinkArray('/categorias',link_subcategoria)">{{breadcrumb.subcategoria}}</a></div>
                  <div class="nvgs-items" *ngIf="breadcrumb.marca"><a href="#">{{breadcrumb.marca}}</a></div>
              <!-- </div> -->
           </div>
           <div id="lista-produto" class="row m-0">
              <div class="col-12 col-xl-2 p-0 p-xl-2">
                 <div class="pd-imagem mb-3 mb-xl-0">
                    <owl-carousel-o [options]="carouselProduto" class="carrousel-lista">
                        <ng-container *ngFor="let image of images;let i= index">
                           <ng-template carouselSlide>
                               <img [src]="image.images">
                           </ng-template>
                       </ng-container>
                    </owl-carousel-o>
                 </div>
              </div>
              <div class="col-12 col-xl-10 p-0 p-xl-2">
                 <div id="pd-item">
                    <h1 id="title-product">{{nome}}</h1>
                    <div class="pd-sub">
                       <small class="pd-codigo">Cód.: {{id}}</small>
                       <div class="avaliacoes-produto">
                          <div class="estrelas-i">
                             <div [innerHTML]="estrelas"></div>
                          </div>
                          <span class="avalicaoes-total">({{qtdmensagem}})</span>
                       </div>
                    </div>
                 </div>
                 <div class="pd-frete mt-3 col-xl-8 col-12">
                    <form  id="calculo-frete" class="needs-validation">
                       <div class="form-row">
                          <div class="col-12 col-md-5 col-sm-5 col-xl-4 col-lg-4 pd-select mb-3 mb-sm-0 mb-md-0 mb-xl-0 mb-lg-0">
                             <label for="cep"><i class="fas fa-truck"></i> Calcular frete e prazo</label>
                          </div>
                          <div class="col-8 col-md-5 col-sm-5 col-xl-5 col-lg-5">
                             <input ID="cep" #cep autocomplete="cep" class="form-control cep" type="text" required  placeholder="_____-___" size="15" maxlength="9"
                             value="{{cepFrete}}" />
                             <div class="invalid-feedback">CEP Inválido!</div>
                          </div>
                          <div class="col-4 col-md-2 col-sm-2 col-xl-3 col-lg-3" >
                             <button id="calcular-frete" type="submit"  data-ripple class="btn-frete" (click)="calcularFrete(cep.value)">Calcular</button>
                          </div>
                       </div>
                    </form>
                 </div>
                 <a [routerLink]="['/produto',id,slug]" class="btn voltar mt-3" data-ripple>Voltar para página do produto</a>
              </div>
           </div>
        </div>
     </div>
     <div class="container">
        <div class="list-produto-wrapper" *ngIf="qtdOfertas > 0">
           <div class="list-tools">
              <div class="list-produto-title">
                 <span class="title-list">Encontramos preços em <b>{{qtdOfertas}} lojas</b></span>
              </div>
              <div class="list-produto-filtro">
                 <form [formGroup]="ordernaSeller" (change)="orderna(ordernaSeller.value)">
                     <select class="form-control" formControlName="ordenacao">
                        <option value="menor_preco" [attr.selected]="1 == 1">Menor preço</option>
                        <option value="maior_preco">Maior preço</option>
                     </select>
                  </form>
              </div>
           </div>
           <ul class="list-produtos-lojista">
              <li class="list-produto-item row" *ngFor="let s of produtoSeller; let i = index;">
                 <div class="col-12 col-xl-3 list-imgs pr-xl-0 mb-2">
                    <!-- <div class="list-produto-img">
                       <img  src="../assets/img/295.jpg" alt="Sample image" alt="Sample image" height="100px">
                    </div> -->
                    <div class="list-logo-img">
                       <a [routerLink]="['/lojista',s.sellerName]">{{s.sellerName}}</a>
                       <!-- <div class="avaliacoes-loja">
                          <div class="estrelas-i">
                             <i class="uip-estrela-1 estrela-1"></i><i class="uip-estrela-1 estrela-2"></i><i class="uip-estrela-1"></i><i class="uip-estrela-1"></i><i class="uip-estrela-3"></i>
                          </div>
                          <span class="avalicaoes-total">(2)</span>
                       </div> -->
                    </div>
                 </div>
                 <div class="col-12 col-xl-7 list-precos row m-0 p-0">
                    <div class="list-preco col-12 col-xl-4 mb-2">
                       <div class="list-preco-wrapper">
                          <span>à vista por</span>
                          <span class="list-price">{{s.preco | currency:'BRL':true}}</span>
                       </div>
                    </div>
                    <div class="list-parcelamento col-6 col-xl-4">
                       <div class="list-preco-wrapper">
                          <span>ou em até {{s.parcela.parcela}}</span>
                          <span class="span-parcelamento">{{s.parcela.valor}}</span>
                       </div>
                    </div>
                    <div class="list-frete col-6 col-xl-4" *ngIf="s.frete.shippingCost">
                       <div class="frete-lista">
                        <div class="loader" id="calcFrete-{{i}}"></div>
                        <div id="valFrete-{{i}}">
                              <div class="list-preco-wrapper" *ngIf="s.frete.shippingCost < 8888">
                                 <span class="span-frete">{{s.frete.shippingCost | currency:'BRL':true}}</span>
                                 <span class="list-prazo">até {{s.frete.deliveryTime}} dias úteis</span>
                              </div>
                              <div *ngIf="s.frete.shippingCost > 8888">
                                 {{s.frete.shippingMethodName}}
                              </div>
                           </div>
                        </div>
                    </div>
                    <div class="list-frete col-6 col-xl-4" *ngIf="!s.frete.shippingCost">
                        -
                    </div>
                 </div>
                 <div class="list-button-wrapper col-12 col-xl-2 mt-2">
                    <button class="btn btn-comprar-lista" data-ripple (click)="btcomprar(s)">Comprar</button>
                 </div>
              </li>
              
           </ul>
        </div>
     </div>
</div>