<div class="conteudo bg-white">
    <div class="container">
        <div class="py-4">
            <div class="row">
                <div class="col-12 col-xl-3 sidebar-infos">
                    <div class="nav flex-column nav-pills sidebar-info-sticky" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a  *ngFor="let info of getInformacoes();let i = index;" 
                            class="nav-link" 
                            [class.active]="rota == getTituloHTML(info.titulo)"
                            id="{{info.id}}" 
                            [routerLink]="['/informacoes',getTituloHTML(info.titulo)]"
                            (click)="verInformacao(info.id)"
                            data-toggle="pill" role="tab"
                            aria-selected="true">{{info.titulo}}</a>
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div *ngFor="let infoDesc of getInformacoes();let i = index;" 
                            class="tab-pane fade" 
                            [class.show]="rota == getTituloHTML(infoDesc.titulo)"
                            [class.active]="rota == getTituloHTML(infoDesc.titulo)"
                            id="info-{{infoDesc.id}}" 
                            role="tabpanel">
                            <h1>{{infoDesc.titutlo}}</h1>
                            <div [innerHTML]="infoDesc.descricao"></div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>