.embla {
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative; /* Needed if loop: true */
    flex: 0 0 100%; /* Choose any slide width */
  }