
<app-header 
    [titulo]="titulo"
    [descricao]="descricao"
    [logo]="logo"
    [hotsite]="hotsites">
</app-header>
    <router-outlet></router-outlet>
<app-footer
    [cnpj]="cnpj"
    [cep]="cep"
    [telefone]="telefone"
    [email]="email"
    [endereco]="endereco"
    [estado]="estado"
    [numero]="numero"
    [cidade]="cidade"
    [url_site]="url_site"
    [url_imagens]="url_imagens"
    [email_atendimento]="email_atendimento"
    [facebook]="facebook"
    [instagram]="instagram"
    [youtube]="youtube"
    [twitter]="twitter"
></app-footer>