<div class="container">

   <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-3 pr-0">

         <div class="top-body-padding">

            <div class="profile-user col-sm-12 col-xs-12">
               <div class="perfil-image">
                  <img id="img-perfil" src="../assets/img/user-default.png" alt="">
               </div>
            </div>

            <div class="profile-name-date">
               <span class="title-name-profile">Tainara & Luana</span>
               <span class="date-time-profile">25 de junho de 2020</span>
            </div>

            <div class="profile-more">
               <div class="wrapper-profile-more">
                  <h2 class="title-more">Local do evento <span class="divisor-title"></span></h2>
                  <div class="profile-content">
                     <div class="profile-endereco">
                        <i class="fas fa-map-marker-alt"></i><span>R. Fulado de tal, 5807 Maringá PR</span>
                     </div>
                     <div class="profile-endereco">
                        <i class="far fa-clock"></i><span>Ás 22h</span>
                     </div>
                  </div>
               </div>
            </div>

            <div class="profile-more">
               <div class="wrapper-profile-more">
                  <h2 class="title-more">
                     Mensagem dos noivos <span class="divisor-title"></span></h2>
                  <div class="profile-content">
                     <div class="texto-noivos">
                        <i class="fas fa-quote-left quote-left"></i>
                        <label class="texto-noivos-conteudo">Lorem ipsum dolars ament dolors amnet amoont
                           dolors.</label>
                        <i class="fas fa-quote-right quote-right"></i>
                     </div>
                  </div>
               </div>
            </div>

            <div class="cart">
               <div id="nav-sidebar">
                  <ul class="navbar-side">
                     <li class="nav-side-item active"><a href="./casamento/carrinho" class="nav-side-link"><i
                              class="fas fa-shopping-cart"></i> Meu carrinho</a></li>
                  </ul>
               </div>
            </div>

         </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-8 border-left pr-0">

         <div class="top-body-padding">

            <h1 class="title-conteudo">
               Carrinho de compras
            </h1>

            <div class="presentes-list">
               <section class="present-content">
                  <div class="basket-products">
                     <div class="basket-columns">
                        <h3 class="basket-column --bigger">Produto </h3>
                        <h3 class="basket-column --quantity --textCentered">Qtd.</h3>
                        <h3 class="basket-column --textCentered">Entrega <i class="basket-columnIcon"></i></h3>
                        <h3 class="basket-column text-center">Preço</h3>
                     </div>
                     <section class="basket-content">
                        <ul class="list-unstyled basket-items">
                           <li class="basket-product">
                              <div class="LazyLoad is-visible basket-productThumbnail">
                                 <figure class="basket-productThumbnail">
                                    <a href="#"><img alt="" src="../assets/img/produto.jpg" height="60" width="60"></a>
                                 </figure>
                              </div>
                              <div class="basket-productInfo__wrapper">
                                 <div class="basket-productTitle__wrapper">
                                    <h2 class="basket-productTitle"><a href="#">Pai Rico, Pai Pobre - Edição De 20 Anos
                                          Atualizado E Ampliado - 1ª Ed.</a></h2>
                                    <div class="basket-productDiffs"></div>
                                    <span class="basket-productSellerName">Vendido e entregue por: <b>Gazin</b> </span>
                                 </div>
                                 <div class="basket-productQuantity__wrapper">
                                    <div class="basket-productQuantity selectbox">
                                       <select class="form-control select__quantity">
                                          <option value="0" label="0"> 0 </option>
                                          <option value="1" label="1"> 1 </option>
                                          <option value="2" label="2"> 2 </option>
                                          <option value="3" label="3"> 3 </option>
                                          <option value="4" label="4"> 4 </option>
                                          <option value="5" label="5"> 5 </option>
                                          <option value="6" label="6"> 6 </option>
                                          <option value="7" label="+ de 6"> + de 6 </option>
                                       </select>
                                    </div>
                                    <div><a href="#" class="basket-productRemoveAct">Remover</a></div>
                                 </div>
                                 <div class="basket-productFreightTime__wrapper"><span
                                       class="basket-productFreightTime">até 6 dias úteis</span></div>
                                 <div class="basket-productPrice__wrapper text-center"><span
                                       class="basket-productPrice ">R$ 99.200,00</span></div>
                                 <div class="basket-productServices">
                                    <ul class="list-unstyled basket-item-warranty"></ul>
                                 </div>
                              </div>
                              <div class="basket-productWarnings"></div>
                           </li>
                           <li class="basket-product">
                              <div class="LazyLoad is-visible basket-productThumbnail">
                                 <figure class="basket-productThumbnail">
                                    <a href="#"><img alt="" src="../assets/img/produto.jpg" height="60" width="60"></a>
                                 </figure>
                              </div>
                              <div class="basket-productInfo__wrapper">
                                 <div class="basket-productTitle__wrapper">
                                    <h2 class="basket-productTitle"><a href="#">Pai Rico, Pai Pobre - Edição De 20 Anos
                                          Atualizado E Ampliado - 1ª Ed.</a></h2>
                                    <div class="basket-productDiffs"></div>
                                    <span class="basket-productSellerName">Vendido e entregue por: <b>Gazin</b> </span>
                                 </div>
                                 <div class="basket-productQuantity__wrapper">
                                    <div class="basket-productQuantity selectbox">
                                       <select class="form-control select__quantity">
                                          <option value="0" label="0"> 0 </option>
                                          <option value="1" label="1"> 1 </option>
                                          <option value="2" label="2"> 2 </option>
                                          <option value="3" label="3"> 3 </option>
                                          <option value="4" label="4"> 4 </option>
                                          <option value="5" label="5"> 5 </option>
                                          <option value="6" label="6"> 6 </option>
                                          <option value="7" label="+ de 6"> + de 6 </option>
                                       </select>
                                    </div>
                                    <div><a href="#" class="basket-productRemoveAct">Remover</a></div>
                                 </div>
                                 <div class="basket-productFreightTime__wrapper"><span
                                       class="basket-productFreightTime">até 6 dias úteis</span></div>
                                 <div class="basket-productPrice__wrapper text-center"><span
                                       class="basket-productPrice ">R$ 99.200,00</span></div>
                                 <div class="basket-productServices">
                                    <ul class="list-unstyled basket-item-warranty"></ul>
                                 </div>
                              </div>
                              <div class="basket-productWarnings"></div>
                           </li>
                        </ul>
                     </section>
                  </div>
               </section>
            </div>

            <div class="space">
               <div class="carrinho-buttons">
                  <a href="./casamento/lista-convidados" type="button" class="btn btn-danger">
                     <i class="fas fa-chevron-left mr-2"></i>
                     Continua
                     presenteando</a>
                  <a href="#" type="button" class="btn btn-success">Finalizar compra <i
                        class="fas fa-chevron-right mr-2"></i></a>
               </div>
               <div class="texto-mensao text-center">
                  <h4 class="mt-5">Ficaremos muito felizes em receber este presente de uma pessoa tão especial como
                     você!
                     Obrigado(a) pelo carinho!</h4>
                  <span class="noivos-text">Tainara & Luana</span>
               </div>
            </div>

         </div>

      </div>

   </div>

</div>