<div class="conteudo">
<div class="container">
        <div class="row">
         <app-menu-user [paginaAtual]="'chat'"  class="col-xl-3 col-lg-3"></app-menu-user>
           <div class="col-12 col-xl-8 pr-1 col-lg-8 pl-lg-3 pl-1 pr-xl-4 pl-xl-4">
              <div class="mc-wrapper px-2">
                 <div class="mc-box-wrapper">
                    <div class="mc-title">
                       <h3>Chat</h3>
                    </div>
                    <div class="ch-body">
                       <div class="ch-wrapper-p">
                          <div class="ch-start-chat">
                             <div class="ch-chat-wrapper">
                                <h1>Precisa de ajuda?</h1>
                                <span>Lorem ipsum dolors ament</span>
                                <button id="chat-start" class="btn btn-secondary ecommerce-color" data-ripple="">Iniciar chat</button>
                             </div>
                          </div>
                          <div class="ch-wrapper">
                             <div class="ch-bubble right">
                                <span class="ch-name">Marco - 26/08/2019 18:23</span>
                                <div class="ch-box">
                                   <span class="ch-message">
                                   Olá, bem vindo ao auto-atendimento.
                                   Em que posso ajudar? Faça perguntas como:
                                   Posição de entrega, produto avariado, etc. Caso queira ser atendido por um dos nossos atendentes, digite "Atendimento"
                                   </span>
                                </div>
                             </div>
                             <div class="ch-bubble left">
                                <span class="ch-name">Marco - 26/08/2019 18:23</span>
                                <div class="ch-box">
                                   <span class="ch-message">Dúvida</span>
                                </div>
                             </div>
                             <div class="ch-bubble left">
                                <span class="ch-name">Marco - 26/08/2019 18:23</span>
                                <div class="ch-box">
                                   <span class="ch-message"><a ><i class="uip-clip"></i> arquivo.jpeg</a></span>
                                </div>
                             </div>
                          </div>
                       </div>
                       <form class="form-chat form-row m-0">
                          <div class="chat-form-input p-0 col-9 col-xl-10">
                             <input type="text" class="input-chat" autocomplete="off" name="chat-input" id="chat-input" rows="1" placeholder="Digite sua mensagem aqui...">
                             <span class="chat-tab"></span>
                          </div>
                          <div class="chat-form-buttons col-3 col-xl-2 p-0 pr-xl-2 d-flex justify-content-start">
                             <button type="submit" id="enviar-chat" class="btn btn-chat-enviar"></button>
                             <label for="arquivo-chat" class="btn btn-chat-clip ml-2 mr-0 mb-0"></label>
                             <input type="file" id="arquivo-chat">
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>